*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -moz-window-dragging: none;
    font-family:'lato',sans-serif;
}
:root{
    --primary-color: #1C1C1C;
    --primary-backcolor: #F8F8F8;
    
    --button-shadow: rgba(0,0,0,0.3);
    --primary-maincolor: #377BFF;
}
.dark-mode{
    --primary-color: #EAEAEA;
    --primary-backcolor: #171717;
}

.im{
    width: 100px;
}

/*************** Start *****************/

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0 1px 1px  var(--button-shadow);
}
.h-left .mylogo{
    width: 30px;
    padding-top: 3px;
    padding-left: 3px;
}

.h-right a{
    margin-right: 10px;
    float: left;
    text-decoration: none;
    color: var(--primary-color);
    padding-bottom: 2px;
    padding: 7px;
    position: relative;
}
.h-right a:before{
    content: "";
    width: 0px;
    height: 2px;
    background: var(--primary-maincolor);
    position: absolute;
    bottom: 0;
    left: 3px;
    max-width: 100%;
    transition: 0.3s linear;
}
.h-right a:hover::before{
    width: 100%;
}
